################################################################################
# .gitignore Microsoft(R) Visual Studio
################################################################################

/obj
/.vs/Martiscoin.Cli
/bin/Debug/net8.0
